[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
paramiko = "*"
rarfile = "*"
pandas = "*"
boto3 = "*"
unrar = "*"
patool = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.10"
